@font-face {
  font-family: "JetBrainsMono";
  src: url(../assets/font/JetBrainsMono-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

html {
  width: 100%;
  height: 100%;
  min-width: 346px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: JetBrainsMono;
}

a {
  text-decoration: none;
  color: #0f0d56;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  cursor: default;
}

/* main */
main {
  text-align: center;
  color: #0f0d56;
  padding: 10px;
}

main .icon-list {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
}

main .icon-list .icon-item a{
  display: inline-block;
  border-bottom: 2px solid transparent;
}

main .icon-list .icon-item:hover a{
  display: inline-block;
  color: #0035ff;
  border-bottom: 2px solid #0035ff;
}

main .icon-list .icon-item .iconfont{
  font-size: 20px;
}

/* footer */
footer {
  height: 50px;
  min-width: 224px;
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #596187;
  font-size: 14px;
}