@font-face {
  font-family: "JetBrainsMono";
  src: url(../assets/font/JetBrainsMono-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

html, body {
  height: 100%;
  min-width: 346px;
  margin: 0;
  padding: 0;
}

body {
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  font-size: 16px;
  font-family: JetBrainsMono;
}

a {
  text-decoration: none;
  color: #0f0d56;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  line-height: 1.5;
}

li:last-child {
  margin-bottom: 0;
}

/* main.home */

main.home {
  width: 100%;
  padding-top: 40px;
  text-align: center;
  color: #0f0d56;
}

main.home .icon-list {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
  -webkit-user-select: none;
  user-select: none;
}

main.home .icon-list .icon-item a{
  display: inline-block;
  border-bottom: 2px solid transparent;
}

main.home .icon-list .icon-item:hover a{
  display: inline-block;
  color: #0035ff;
  border-bottom: 2px solid #0035ff;
}

main.home .icon-list .icon-item .iconfont{
  font-size: 20px;
}

/* main.about section.info-list*/

@media (min-width: 700px) {
  main.about {
    width: 700px;
    display: flex;
    justify-content: space-between;
  }
  main.about .left {
    width: 300px;
  }
  main.about .right {
    width: 380px;
  }
  section.info-list {
    width: 700px;
  }
}

main.about {
  margin: 0 auto;
  padding: 50px 20px 0 20px;
  min-width: 316px;
}

main.about .box img {
  width: 150px;
  height: 150px;
}

main.about .left {
  text-align: center;
}

main.about .left h2{
  margin-top: 0;
  margin-bottom: 5px;
}

main.about .right {
  display: flex;
  align-items: center;
}

section.info-list {
  margin: 0 auto;
  padding: 0 20px 50px 20px;
  min-width: 316px;
}

main.about .box, section.info-list .info-item{
  margin-bottom: 20px;
  padding: 20px 20px;
  box-sizing: border-box;
  color: #0035ff;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 2px solid transparent;
}

main.about .box:hover, section.info-list .info-item:hover{
  border: 2px solid #0035ff;
}

main.about .box .title, section.info-list .info-item .title{
  margin: 10px 0 30px 0;
}

section.info-list .info-item:last-child {
  margin-bottom: 0;
}

/* footer */

footer.home {
  height: 35px;
  width: 100%;
  min-width: 346px;
  position: fixed;
  bottom: 20px;
  font-weight: bold;
  text-align: center;
}

footer.about {
  height: 35px;
  width: 100%;
  min-width: 346px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

footer a {
  color: #596187;
  font-size: 12px;
  display: block;
}

footer a img {
  position: relative;
  top: 2px;
  left: 5px;
  width: 15px;
  height: 15px;
}